header{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.584), rgba(0, 0, 0, 0.411)),
                url('../image/banner-21.jpg');
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.banner-caption{
    color: white;
    margin-top: 10%;
    text-align: center;
    width: 70%;
}
.banner-caption h1{
    font-size: 4rem;
}
.banner-caption p{
    font-size: 1.5rem;
}
.faq{
    margin: 40px 0;
}
.faq h1{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 30px;
}
.accordion-item, .accordion-item button{
    font-size: 1.3rem;
}
footer{
    /* margin: ; */
    padding: 10px 0;
    background-color: black;
    color: rgba(245, 222, 179, 0.792);
    text-align: center;
}
footer span{
    color: orangered;
}
.navbar-collapsed {
  flex-grow: 0;
    
}
.login{
    display: flex;
    /* justify-content: center; */
    /* align-items: flex-start; */
    margin-top: 10% auto;
    border-radius: 20px;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

}
.login section,
.login div{
    flex: 1;
    height: 100%;
}
.login section{
    background-color: whitesmoke;
    padding: 5rem 2rem;
    border-radius: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login div{
    flex: 1;
}
.bg-body{
    background-image: url("../image/log-bg.jpg");
    background-size: cover;
}
.login label{
    display: block;
    font-size: 0.7rem;
}
.login input{
    width: 100%;
    outline: none;
    height: 2rem;
    border: none;
}
.login button{
    width: 100%;
    outline: none;
    height: 2rem;
    background-color: #de0000;
    color: white;
    border: none;
}
.login img{
    object-fit: cover;
    height: 100%;
    border-radius: 0 20px 20px 0;
}
.login form{
    margin-bottom: 3rem;
}
.login ul{
    display: none;
}